<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <a aria-label="Meu GitHub" target="_blank" rel="noopener" href="https://github.com/KelwinFrederik/CONFITEC" title="Repositorio GitHub">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
    &nbsp;
    <span>CONFITEC</span>
  </a>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <form [formGroup]="formUsuario" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input placeholder="Nome" type="text" class="form-control" name="nome" id="nome" formControlName="nome" required>
      <small *ngIf="formUsuario.get('nome')?.errors && formUsuario.get('nome')?.touched">Nome é obrigatório</small>
    </div>
  
    <div class="form-group">
      <input placeholder="Sobrenome" type="text" class="form-control" name="sobrenome" id="sobrenome" formControlName="sobrenome" required>
      <small *ngIf="formUsuario.get('sobrenome')?.errors && formUsuario.get('sobrenome')?.touched">Sobrenome é obrigatório</small>
    </div>
    
    <div class="form-group">
      <input placeholder="Email" type="email" class="form-control" name="email" id="email" formControlName="email">
      <small *ngIf="formUsuario.get('email')?.errors && formUsuario.get('email')?.touched">Email Inválido</small>
    </div>

    <div class="form-group">
      <select class="form-control" name="escolaridade" id="escolaridade" formControlName="escolaridade">
        <option value="0" selected>(Escolaridade)</option>
        <option value="1">Infantil</option>
        <option value="2">Fundamental</option>
        <option value="3">Médio</option>
        <option value="4">Superior</option>
      </select>
      <small *ngIf="formUsuario.get('escolaridade')?.errors && formUsuario.get('escolaridade')?.touched">Escolha um nível de escolaridade!</small>
    </div>
   
    <div class="form-group">
      <input  placeholder="Data de nascimento" type="date" class="form-control" name="dataNascimento" id="dataNascimento" formControlName="dataNascimento" (change)="validateDataNascimento(formUsuario.get('dataNascimento')?.value)">
      <small *ngIf="formUsuario.get('dataNascimento')?.errors">Data Inválida!</small>
    </div>
  
    <input [disabled]="formUsuario.invalid" type="submit" class="btn btn-primary mt-4" value="Salvar" >
    &nbsp;
    <button class="btn btn-danger mt-4" type="reset" (click)="resetFormUsuarios()"> Cancelar </button>
  </form>
  
  <table class="table" > 
    <tr> 
      <th class="tbl2">Nome</th> 
      <th class="tbl2">Sobrenome</th> 
      <th class="tbl2">Email</th> 
      <th class="tbl2">Escolaridade</th> 
      <th class="tbl2">Data de Nascimento</th> 
      <th class="tbl2">Edita</th> 
      <th class="tbl2">Deleta</th> 
    </tr> 
    <tr *ngFor="let usuario of Usuarios"> 
      <td class="tbl2">{{usuario.nome}}</td> 
      <td class="tbl2">{{usuario.sobrenome}}</td> 
      <td class="tbl2">{{usuario.email}}</td> 
      <td class="tbl2">{{getEscolaridade(usuario.escolaridade)}}</td> 
      <td class="tbl2">{{usuario.dataNascimento | date:'dd/MM/yyyy'}}</td> 

      <td class="tbl2"> <button type="button" class="btn btn-info"matTooltip="Clique no botão para Editar"(click)="loadUsuarioToEdit(usuario.id)">Editar</button></td> 
      <td class="tbl2"> <button type="button" class="btn btn-danger"matTooltip="Clique no botão para Deletar"(click)="deleteUsuario(usuario.id)">Deletar</button> </td> 
    </tr>    
  </table> 
</div>